.container {
  margin: 10px;
  color: white;
}

.question-image {
  width: 75vw;
  margin: 10px;
}



.highlight-correct {
  color: green;
}
.highlight-incorrect {
  color: red;
}

.information {
  border-style: double;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  border-radius: 2%;
  color: white;
}

.question {
  border-style: double;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
  border-radius: 2%;
  font-size: larger;
  color: white
}

.answer {
  border-style: double;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  border-radius: 2%;
  color: white
}

.previous-button {
  float: left;
  margin-left: 20px;
  font-size: 20px;
  border-radius: 5%;
  border-style: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

.next-button {
  float: right;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 5%;
  border-style: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
}



.countOut-container {
  text-align: center;
  position: fixed;
  bottom: 25px;
  padding-left: 140px;
  color: white
}
