.main-container {
  margin: 20px;
  display: inline;
  display: flex;     
  flex-direction: column;
}

.question {
  text-align: center;
  border: 2px solid #d04a36;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  font-size: larger;
  color: white
}

.question-image {
  width: 70vw;
  margin: 10px;
}



.information {
  border: 2px solid  #d04a36;;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
}

.answer {
  border: 2px solid  white;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  width: 50%;
  
}

.highlight-correct {
  color: green;
  border: 2px solid  green;
}

.highlight-incorrect {
  color: red;
  border: 2px solid  red;
}

.answers-container {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

button.answer {
  background-color: #1c3148;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: auto;
  align-self: flex-end;
}

.previous-button {
  margin-left: 20px;
  font-size: 20px;
  border-radius: 5px;
  border-style: none;
  
}

.next-button {
  margin-right: 20px;
  font-size: 20px;
  border-radius: 5px;
  border-style: none;
 
}

.count {
  flex-grow: 4; 
  font-size: 20px;
  color: white;
  flex-basis: auto;
}

