.image-viewer {
  text-align: center;
  background-color: #1c3148;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.hero--header {
  color: #d04a36;
  font-size: 35px;
  margin-top: 40px;
}

.hero--pick-date {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  justify-content: center;
}

.react-date-picker {
  background-color: white;
  font-family: monospace;
}

.hero--text {
  color:white;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 300;
  align-self: center;
}

.no-images-text {
  color:white;
  font-size: 15px;
  font-weight: 300;
  padding-top: 20px;
  justify-content: center;
}

.hero--date {
  margin: 10px 20px;
  justify-content: left;
}

.cropped-mars-image {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  margin-top: 50px;
}


.carousel .thumb {
  outline: 2px solid white;
  outline-offset: -2px;
}

@media only screen and (max-width: 600px) {
  .carousel-wrapper {
    max-width: 100%;
  }
}

.control-dots {
  position: absolute;
  z-index: -1;
}

.carousel-root {
  padding-top: 30px;
}



