.image-viewer {
  text-align: center;
  padding: 10px;
}

.hero--header {
  color: #d04a36;
  font-size: 35px;
  margin-top: 40px;
}

.hero--date-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
}

.hero--text {
  color:white;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 300;
  margin-right: 20px;
}

.hero--no-images-text {
  color:white;
  font-size: 15px;
  font-weight: 300;
  padding-top: 20px;
  justify-content: center;
}

.hero--cropped-mars-image {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  margin-top: 50px;
}


.carousel .thumb {
  border: 3px solid  #1c3148 !important;
  border-radius: 5px;
} 

.carousel .thumb.selected {
  border: 3px solid white !important;
  border-radius: 5px;
}


.carousel-root {
  padding-top: 30px;
}

@media only screen and (max-width: 600px) {
  .carousel-wrapper{
    max-width: 100%;
  }
}