.image-viewer {
  text-align: center;
  background-color: #1c3148;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hero--header {
  color: #d04a36;
  font-size: 35px;
  margin-top: 40px;
}

.hero--pick-date {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  margin: 20px;
  justify-content: left;
}

.hero--text {
  color:white;
  font-size: 15px;
  padding-left: 40px;
  font-weight: 300;
}

.hero--date {
  background-color: white;
}

.hero-image {
  max-width: 30%;
  height: auto;
  border-radius: 8%;
  outline: 3px solid #d04a36;
  outline-offset: -3px;
  margin-top: 30px;
}





div.carousel.carousel-slider {
  border-radius: 2%;
  margin: 1% auto;
}

body {
  height: 100%;
  background-color: #1c3148;
}

@media only screen and (max-width: 600px) {
  .carousel-wrapper {
    max-width: 100%;
  }
}
.control-dots {
  position: absolute;
  z-index: -1;
}

div.carousel-root {
  padding-top: 30px;
}
.same-size-images {
  width: 100%;
  height: auto;
}
.react-date-picker {
  background-color: lightgray;
  font-family: monospace;
  margin-left: 100px;
  margin-top: 10px;
}
.react-date-picker__inputGroup {
  margin-left: 8px;
}
.crop {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
