.change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: white;
    margin-top: 5rem;
    gap: 2rem;
}

.change-password-photo {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px double white;

}

.change-password-image-default {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 2rem;
}

.change-password-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 1rem;
}

.change-password-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.change-password-error {
    color: #d04a36;
    margin: 1rem;
}

.change-password-button {
    font-size: inherit;
    padding: 0.4rem;
    border-radius: 5px;
    border-style: none;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
    font-family: 'Quantico', sans-serif;
}

.change-password-button:hover {
    opacity: 0.5;
}

.change-password-link {
    color: #d04a36;
    text-decoration: none;
}

.change-password-link:hover {
    color: white;
    cursor: pointer;
}

.display-linebreak {
    white-space: pre-line;
  }