.change-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.change-password-photo {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px double white;

}

.change-password-image-default {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.change-password-input-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: #d04a36;
    width: 70%;
}

.change-password-input {
    padding: 0.3rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 5px;
    border: none;
}

.change-password-error {
    color: #d04a36;
    margin: 1rem;
}

.change-password-button {
    font-size: inherit;
    padding: 0.4rem;
    border-radius: 5px;
    border-style: none;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
}

.change-password-button:hover {
    opacity: 0.5;
}

.change-password-link {
    color: #d04a36;
    text-decoration: none;
    margin: 1rem;
}

.change-password-link:hover {
    color: white;
    cursor: pointer;
}