.change-password-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}

.change-password-photo {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px double white;

}

.change-password-image-default {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
}

.change-password-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
    padding: 0.5rem;
}

.change-password-error {
    color: #d04a36;
}