.title {
    font-size: 30px;
    font-weight: 100;
    color:  #d04a36;
    justify-content: center;
    display: flex;
}

.account-form-container {
    display: block;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    width: 100%;
}

.account-box {
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
}


.account-input {
    width: 70vw;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.input-label {
    color: white;
    margin: 10px;
    float: left
}

.account-buttons {
    display: inline;
    margin-top: 20px;
    float: right;
    padding: 7px;
    margin-right: 10px;
}

.account-button {
    padding: 7px;
    margin-right: 10px;
}
