.account-form-title {
    margin-left: 10px;
    margin-bottom: 0px;
    color:  #d04a36;
    font-size: 20px;
    font-weight: 100;
}

.account-form-input {
    width: 70vw;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    
}

.account-form-label {
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 100;
}

.account-form-buttons {
    align-items: center;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.account-form-button {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.account-form-button:hover {
   opacity: 0.5;
}

.highlight-label {
    color: #d04a36;
}

.highlight-box  {
    border-color:#d04a36;
}

.account-form-image {
    margin-top: 60px;
    margin-bottom: 20px;
    align-self: center;
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border-radius: 5px;
}

.account-form-error {
   color: #d04a36;
   margin: 20px 10px;
}