.title {
    font-size: 20px;
    font-weight: 100;
    color:  #d04a36;
    justify-content: center;
    display: flex;
}

.account-form-container {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    width: 100%;
    display:block;
    width: 75%;
}

.account-box {
    align-self: center;
    flex-direction: row;
}

.account-input {
    width: 70vw;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.input-label {
    color: white;
    margin-left: 10px;
    float: left;
}

.account-buttons {
    display: inline;
    margin-top: 10px;
    float: right;
    padding: 7px;
}

.account-button {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 5px;
   
}

.account-button:hover {
   opacity: 0.5;
}