.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    margin: 0.5rem;
    color:  white;
    font-size: 20px;
    font-weight: 100;
}

h4 {
    margin: 1rem;
    color:  #d04a36;
    font-size: 16px;
    font-weight: 100;
}

.login-input {
    width: 70vw;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}

.login-button {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
    margin: 1rem;
}

.login-form-image {
    margin-top: 60px;
    margin-bottom: 20px;
    align-self: center;
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border-radius: 5px;
}

.login-form-error {
    color:  #d04a36;
    margin: 20px;
}