.login-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1rem;
    gap: 1rem;
    margin: 1rem;
}

.login-form-image {
    object-fit: cover;
}

.login-title {
    color:  white;
    font-size: 2rem;
    font-weight: 100;
}

.login-subtitle {
    color:  #d04a36;
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

.login-input {
    width: 50vw;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
    border: none;
}

.login-button {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
}

.login-button:hover {
    opacity: 0.5;
}

.login-form-image {
    margin-top: 60px;
    margin-bottom: 20px;
    align-self: center;
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border-radius: 5px;
}

.login-form-error {
    color:  #d04a36;
}

