.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 5rem;
    gap: 1rem;
    margin: 1rem;
}

.login-form-image {
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.login-title {
    color:  white;
    font-size: 2rem;
    font-weight: 100;
}

.login-subtitle {
    color: white;
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

.login-input {
    width: 50vw;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
    border: none;
}

.login-button {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    border-style: none;
    font-family: 'Quantico', sans-serif;
}

.login-button:hover {
    opacity: 0.5;
}

.login-form-error {
    color:  #d04a36;
}

/* || SMALL */
@media screen and (min-width: 576px) {
    .login-form-image {
        height: 20vh;
    }
  }
  
  /* || LARGE */
  @media screen and (min-width: 992px) {
    .login-input {
        width: 30vw;
    }
  }
  