.title {
    font-size: 30px;
    font-weight: 100;
    color:  #d04a36;
}

.account-form-container {
    display: block;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.account-input {
    width: 75%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    float: left;
}

.input-label {
    color: white;
    float: left;
    margin-left: 10px;
}