.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; /* this is important! */
    width: 80%;
  }
  
.ticket {
    width: 70%;
    border-radius: 5px;
}

.ticket-info {
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: small;
}