.landing-page-image {
  width: 100%;
  height: auto;
}
.landing-page-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.landing-page-header-question {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 27px;
}
.container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 125px;
  justify-content: center;
  text-align: center;
}
.flex1 {
  flex-grow: 1;
  text-align: center;
  border-top: 2px solid rgb(246, 96, 21);
  border-left: 2px solid rgb(246, 96, 21);
  margin-top: -2px;
  margin-left: -2px;
  padding-top: 20px;
}
.flex2 {
  flex-grow: 2;
  text-align: center;
  border-top: 2px solid rgb(246, 96, 21);
  border-bottom: 2px solid rgb(246, 96, 21);
  border-left: 2px solid rgb(246, 96, 21);
  margin-top: -2px;
  margin-left: -2px;
  padding-top: 20px;
}
a:link {
  text-decoration: none;
}
a:hover {
  color:white
}
