.landing-page-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 35px;
  color: #d04a36;
}

.landing-page-image {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.landing-page-header-question {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 30px;
  color: #d04a36;
}

.container {
  display: inline-flex;
  flex-wrap: nowrap;
  height: 125px;
  justify-content: center;
  text-align: center;
}

.landing-page-item {
  align-self: center;
  border: 1px solid rgb(246, 96, 21);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color:white
}
