@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

.landing-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

header h1 {
  text-align: center;
  margin-top: 8rem;
  color: white;
  font-size: 2.8rem;
  font-family: 'Syne Mono', monospace;
  text-shadow: 6px 6px 6px #d04a36;
  padding: 0 2rem;
}

figure {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.landing-page-image {
  width: 40%;
  align-self: center;
}

.loading-spinner:hover {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.landing-page-subtitle {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: 'Syne Mono', monospace;
  text-shadow: 3px 3px 6px #d04a36;
  padding: 0 3rem;
}

.nowrap {
  white-space: nowrap;
}

.landing-page-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
  font-family: 'Syne Mono', monospace;
  margin-top: 2rem;
}

.landing-page-item {
  align-self: center;
  border: 3px double white;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.landing-page-link {
  color: #d04a36;
  text-decoration: none;
}

.landing-page-link:hover {
  color:white
}

.landing-page-icon-container {
  color: whitesmoke;
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem;
}


/* || EXTRA SMALL */
@media screen and (max-width: 575px) {
  .landing-page-item {
    justify-content: center;
  }

  .landing-page-subtitle  {
    font-size: 25px;
    
  }

  .landing-page-container {
    margin-top: 0rem;

  }

  header h1 {
    margin-top: 5rem;
    font-size: 35px;
  }

  .landing-page-image {
    width: 60%;
  }
  

}

/* || SMALL */
@media screen and (min-width: 576px) {
  .landing-page-item {
    justify-content: center;
    font-size: larger;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .landing-page-icon-container {
    display: none;
  }

  figure{
    margin-top: 0.5rem;
  }
}


/* || MEDIUM */
@media screen and (min-width: 768px) {
  .landing-page-container {
    display: flex;
    flex-direction: row;
    //margin-top: 1rem;
  }

  header {
    font-size: 20px;
  }

  .navbar-logo-astronaut:hover {
    color:#d04a36 !important;
  }
  
}


/* || LARGE */
@media screen and (min-width: 992px) {
  .landing-page-container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }

  .landing-page-image {
    width: 30%;
  }

  .landing-page-icon-container {
    display: flex;
    margin: 1rem;
  }
  .navbar-logo-astronaut:hover {
    color:#d04a36 !important;
  }

  .landing-page-link {
    font-size: larger;
  }
}

