/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

.landing-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#landing-page figure {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#landing-page .landing-page-image {
  width: 60%;
  align-self: center;
}

.landing-page-container {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.landing-page-item {
  align-self: center;
  border: 3px double white;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.landing-page-link {
  color: #d04a36;
  text-decoration: none;
}

.landing-page-link:hover {
  color:white;
}

.landing-page-item:hover .menu-icon{
  color:white;
  animation: rotate 4s linear infinite;
}

.landing-page-icon-container {
  color: whitesmoke;
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

// Extra extra small
@media screen and (max-width: 359px) {
  .landing-page-item {
    font-size: 14px;
    padding: 0.6rem;
  }
}

// Small
@media screen and (min-width: 576px) {
  #landing-page .landing-page-image {
    width: 50%;
  }
}

// Medium
@media screen and (min-width: 768px) {
  #landing-page .landing-page-image {
    width: 45%;
  }

  .landing-page-container {
    font-size: 23px;
    margin: 0rem 1rem;
  }
}

//Large
@media screen and (min-width: 992px) {
  #landing-page .landing-page-image {
    width: 40%;
  }

  .landing-page-container {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
  }
}

//Extra large
@media screen and (min-width: 1200px) {
  #landing-page .landing-page-image {
    width: 38%;
    margin: 0.5rem;
  }

  .landing-page-container {
    flex-direction: row;
    font-size: 25px;
    margin: 0 1rem;
  }
}


// Extar extra large
@media screen and (min-width: 1400px) {
  .landing-page-image {
    width: 30%;
    margin: 0.5rem;
  }

  .landing-page-container {
    flex-direction: row;
    font-size: 25px;
    margin: 1rem 1rem;
  }
}