.image-viewer {
  text-align: center;
}

.image-viewer h1 {
  margin-top: 7rem;
}

.hero--date-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.nowrap {
  white-space: nowrap;
}

.hero-subtitle {
  color: white;
  padding: 2rem;
}

.hero-input {
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 0.5rem;
}

.hero--text {
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 3px 3px 6px #d04a36;
  padding: 2rem;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.hero--cropped-mars-image {
  object-fit: scale-down;
  width: 70%;
  height: auto;
  margin-top: 1rem;
}

.hero--cropped-mars-image:hover {
  animation: rotate 4s linear infinite;
}

.carousel {
  width: 90% !important;
  margin: auto !important;
}

.carousel-status {
  color: white;
  font-size: 12px !important;
}

.carousel .thumb {
  border: 3px solid #1c3148 !important;
  border-radius: 5px;
}

.carousel .thumb.selected {
  border: 3px solid #d04a36 !important;
  border-radius: 5px;
}

.carousel-root {
  padding-top: 2rem;
}

// Extra extra small
@media screen and (max-width: 359px) {
  .hero-subtitle {
    font-size: 14px;
    padding: 0.5rem;
  }
  .carousel .control-dots {
    display: none;
  }
}

// Extra small
@media screen and (min-width: 360px) {
  .hero-subtitle {
    font-size: 18px;
  }

  .carousel .control-dots {
    display: none;
  }
}

// Small
@media screen and (min-width: 576px) {
  .hero--cropped-mars-image {
    width: 50%;
    margin-top: 2rem;
  }

  .hero--date-text-container {
    flex-direction: row;
    width: 80%;
    gap: 1rem;
  }

  .hero-subtitle {
    padding: 2rem 0;
  }

  .hero-input {
    width: 46%;
  }

  .carousel {
    width: 90% !important;
    margin: auto !important;
  }

  .carousel .control-dots {
    display: none;
  }
  .carousel-root {
    padding: 0px !important;
  }
}

// Medium
@media screen and (min-width: 768px) {
  .hero--cropped-mars-image {
    width: 40%;
  }

  .hero-input {
    width: 35%;
  }

  .hero--date-text-container {
    margin: auto;
    width: 70%;
  }

  .carousel {
    width: 80% !important;
    margin: auto !important;
  }
}

// Large
@media screen and (min-width: 992px) {
  .hero--cropped-mars-image {
    width: 30%;
  }

  .hero-input {
    width: 25%;
  }

  .carousel {
    width: 75% !important;
  }
}

// Extra large
@media screen and (min-width: 1200px) {


  .hero--cropped-mars-image {
    width: 20%;
  }

  .carousel {
    width: 70% !important;
    margin: auto !important;
  }

  .carousel-status {
    font-size: 16px !important;
  }
}


// Extra  extra large
@media screen and (min-width: 1400px) {
  .carousel {
    width: 65% !important;
  }
}