.profile-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 5rem;
}

.profile-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.profile-image-default {
    width: 20vw;
    margin: 1rem;
}

.overlay-photo-text {
   color: white;
   font-size: small;
}

.profile-photo {
    object-fit: cover;
    width: 20vw;
    margin: 1rem;
    border-radius: 50%;
    border: 2px double white;
}

.profile-photo-link {
    width: max-content;
}

Link:hover {
    cursor: pointer;
}

h2 {
    margin: 1rem;
    font-weight: 300;
    font-size: 30px;
    color: white;
}

h4 {
    font-weight: 300;
    font-size: 18px;
    color: #d04a36;
    margin: 1rem;
}

.profile-button {
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border-style: none;
  margin: 1rem;
  font-family: 'Quantico', sans-serif;
}

.profile-ticket-image {
    align-self: center;
    width: 90%;
    height: 30vw;
    object-fit: cover;
    border-radius: 5px;
    margin: 2rem;
}

.profile-ticket-image-cropped {
    align-self: center;
    width: 90%;
    height: 30vw;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
}

/* || SMALL */
@media screen and (min-width: 600px) {
    .profile-ticket-image-cropped {
        display: none;
    }
  }
  /* || MEDIUM */
  @media screen and (min-width: 768px) {
    .profile-image-default {
        width: 150px;
        height: 150px;
    }

    .profile-photo {
        width: 150px;
        height: 150px;
        margin-bottom: 1rem;
    }
    
    .profile-ticket-image {
        align-self: center;
        width: 90%;
        height: 20vh;
        object-fit: cover;
        border-radius: 5px;
    }

    .profile-ticket-image-cropped {
        display: flex;
        align-self: center;
        width: 90%;
        height: 20vh;
        border-radius: 5px;
        position: fixed;
        bottom: 0;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 50px;
    }

    h4 {
        font-size: 30px;
    }

}