@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');


body {
  background-color: #09192a;
  font-family: 'Quantico', sans-serif;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner:hover {
  animation: rotate 20s linear infinite;
}

.nowrap, span .nowrap {
  white-space: nowrap;
}

// Blinking stars and moving clouds
.stars,
.twinkling,
.clouds {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  //height:100vh;
}

.stars {
  z-index: 0;
  background: #09192a url("https://i.imgur.com/YKY28eT.png") repeat top center;
  background-size: cover;
  background-repeat: repeat;
}

.twinkling {
  z-index: 1;
  animation: move-twink-back 8000s linear infinite;
}

.clouds {
  z-index: 0;
  background: transparent url("https://www.seekpng.com/png/full/71-712329_source-pink-clouds-png.png") repeat top
    center;
    background-size: cover;
  background-repeat: repeat;
  animation: move-clouds-back 800s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 10000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}


