.learning-space-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.card-container {
    position: relative;
     text-align: center;
        display: block;
}

.card-image {
    width: 350px;
    border: 3px double white;
    border-radius: 10px;
}

.card-header {
    font-family: "Syne Mono", monospace;
    font-size: 16px;
    color: white;
    text-shadow: 3px 3px 6px #d04a36;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.stars {
  z-index: 0;
}

//Extra extra small
@media screen and (max-width: 359px) {
  .learning-space-container header {
    margin-top: 1rem;
  }

  .link-container {
    margin-top: 0rem;
  }

  .card-image {
    width: 250px;
  }

  .card-header {
    font-size: 12px;
  }
}

//Extra small
@media screen and (min-width: 360px) {
  .learning-space-container header {
    margin-top: 5rem;
  }

  .link-container {
    margin-top: 0rem;
  }

  .card-image {
    width: 300px;
  }

  .card-header {
    font-size: 16px;
  }
}

//Small
@media screen and (min-width: 576px) {
  .learning-space-container header {
    margin-top: 12rem;
  }

  .link-container {
    margin-top: 0rem;
  }

  .card-image {
    width: 400px;
  }

  .card-header {
    font-size: 18px;
  }
}

//Medium
@media screen and (min-width: 768px) {
  .learning-space-container header {
    margin-top: 15rem;
  }

  .card-image {
    width: 450px;
  }

  .card-header {
    font-size: 20px;
  }
}

//Large
@media screen and (min-width: 992px) {
  .learning-space-container header {
    margin-top: 0rem;
  }

  .link-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-image {
    width: 450px;
    height: 280px;
  }

  .card-header {
    font-size: 16px;
  }
}

//Extra large
@media screen and (min-width: 1200px) {
  .card-image {
    width: 450px;
  }

  .card-header {
    font-size: 16px;
  }
}

//Extra extra large
@media screen and (min-width: 1400px) {
  .link-container {
    margin-top: 3rem;
  }

  .card-image {
    width: 450px;
  }

  .card-header {
    font-size: 20px;
  }
}
