#rovers-title {
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 6px 6px 6px #d04a36;
    margin-bottom: 20px;
  }

  #click {
    color: white;
    margin: 40px 10px;
    text-align: center;
    font-size: larger;
  }
  
  header p {
    color: white;
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: larger;
  }

  #rover-image {
    width: 100%;
    border-radius: 10px;
  }

  .card-text div {
    margin: 10px 5px;
  }

  .card-title {
    margin: 10px 5px;
    font-size: x-large;
  }

  // .rover-card {
  //   height: 36rem !important;
  // }

  .planet-link:hover {
    color:#d04a36;
  }

  #rover-image:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 5px #ccc;
  }
