.space-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#space-title {
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: 6px 6px 6px #d04a36;
  padding: 1rem;
}

#loading {
  color: white;
}

.planets-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.planets-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-card {
  color: white;
  margin: 1rem;
  border: 3px double white;
  border-radius: 10px;
  height: 370px;
}

#front-image {
  width: 100%;
  height: 40%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#planetButton {
    background-color: #09192a;
    border: none;
  }

#planetButton:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 5px #ccc;
  }

#thumb-planet {
  width: 30%;
  height: auto;
  position: absolute;
  right: 20px;
  top: 5px;
}

#thumb-planetButton {
    background-color: #09192a;
    border: none;
  }

#thumb-planet:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 5px #ccc;
  }

#back-title {
  margin: 10px 0 20px 0;
  font-size: 20px;
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white !important;
  height: 15vh;
}

.card .btn {
  color: white;
  text-decoration: none;
}

.back-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#planet-link {
  text-align: start;
}

#planet-link:hover {
    color:#d04a36 !important;
  }
  

  sup {
    font-size: 12px;
}

.degree {
  font-size: x-small;
}

.space-text {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.space-text p {
  margin-bottom: 20px;
}

.space-text a {
  color: #d04a36;
  text-decoration: none;
}

.text a:hover{
  color: white;
  cursor: pointer;
}

.hide, .hide-second {
  display: none;
}

//Extra extra small
@media screen and (max-width: 575px) {
  #space-title {
    font-size: 40px;
    margin-top: 4rem;
  }
  .subtitle, .subtitle span{
    font-size: 14px;
  }

  .space-text p {
    font-size: 16px;
  }
}


//Medium
@media screen and (min-width: 768px) {
  .hide {
    display: block;
  }
  .text {
    width: 60%;
  }
}


//Large
@media screen and (min-width: 992px) {
  .hide-second {
    display: block;
  }
}
