.update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: white;
    margin-top: 2rem;
}

.update-label {
    color: white;
    margin-top: 1rem;
    padding: 0.2rem;
}

.update-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.update-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.update-image-default {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 2rem;
}

.update-photo {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px double white;
    margin-top: 2rem;
}

.update-form-button {
    font-size: inherit;
    border: none;
    border-radius: 5px;
    margin: 2rem 0;
    padding: 0.5rem;
    width: 10%;
}

.update-form-button:hover {
    opacity: 0.5;
 }
